nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px
}

main img {
    width: 150px;
    height: auto;
    border: .1px;
    padding: 5px;
    box-shadow: 0 0 30 #333333;
}

aside {
    width: 800px;
    margin: 20px;
    border: 1px solid rgb(215, 210, 204);
    padding: 15px;
    background-color: antiquewhite;
    color: #222a45
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 1px solid #000;
    text-align: center;
}